.container {
    width: 90%; 
    margin: 20px auto; 
    padding: 20px; 
    background-color: #f0f0f0; 
    border: 1px solid black; 
    border-radius: 5px; 
  }
  
  table {
    border-collapse: collapse;
    width: 100%; 
    margin: 0; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  
  th {
    background-color: #01faff;
    text-align: left;
  }
  
  tbody tr:nth-child(even) {
    background-color: #ddd;
  }

  td:nth-child(n+2), th:nth-child(n+2) {
    text-align: center;
  }
  
  .totals {
    background-color: #01faff;
    font-weight: bold;
  }
  
  caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }